body{
  background-color: #F1F1F1;
}

.App{
  height: 750px;
  /* background: linear-gradient(to right, #F1F1F1 60%, #ff99cc 160%); */
  background: linear-gradient(90deg, #F1F1F1 20%, rgb(237, 206, 243) 80%);
  /* border: 2px solid rgb(255, 89, 0); */
}

.App:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mask-image: linear-gradient(to bottom, transparent, black);
    background: linear-gradient(90deg, #F1F1F1 20%, rgb(179, 229, 214) 80%); 
  }

.header-data:hover{
  background-color: rgb(211, 174, 247)!important;
}

.logo{
  height: 60px;
  width: 60px;
  margin-top: 10px;
}

/* USER'S CARD     */

.user-list{
  width: 97.3%;
  height: 100%;
  margin: -2% auto;
  position: relative;
    left: 0;
    right: 0;
    background-color: #F1F1F1;
    padding: 20px;
}

.users-table{
  width: 90%;
  margin: 3% auto;
  background-color: #d7dfe4;
  font-family: 'Times New Roman', Times, serif;
  /* border: 1px solid black; */
  /* padding: 20px; */
  border-radius: 10px;
}

.users-head{
  /* border: 1px solid black; */
  height: 60px;
  text-align: left;
  background-color: #c8d1da;
}

.users-head >tr{
  background-color: rgb(131, 140, 147);
  border: none;
}

.users-head > tr > th{
  padding-left: 19px;
  border: none;
  border-right: 1px solid white;
  color: rgba(241, 236, 236, 0.937);
  font-size: larger;
}

.data-row{
  /* border: 1px solid black; */
  height: 65px;
  /* border-bottom: 1px solid black; */
  /* background-color: aqua; */
  box-shadow: 1px 1px 5px rgb(70, 69, 69);
  
}

.data-row > td{
  /* border-bottom: 1px solid rgb(224, 217, 217); */
  padding-left: 20px;
  border-right: 1px solid rgb(240, 237, 237);
}

.user-name{
  color: black;
  text-decoration: none;
}


.profile{
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
    left: 0;
    right: 0;
}

.profile-data{
  margin: 4% auto;
  width: 60%;
  display: flex;
  /* grid-template-columns: 40% 30%; */
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-radius: 10px;
  /* background-color: rgb(248, 242, 242); */
  /* border: 1px solid black; */
  padding: 5%;
}

.profile-head-name{
  font-size: 35px;
  font-weight: 600;
}

.user-details{
  color: rgb(93, 90, 90);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.profile-box{
  margin-top: 60px;
  height: 70px;
  /* background-color: white; */
  display: flex;
  /* justify-content: left; */
  border-radius: 5px;
}

.profile-exp{
  /* border: 1px solid black; */
  padding: 10px;
  background-color: #BB2428;
  margin-right: 5px;
  border-radius: 3px;
  width: 30%;
  height: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  /* align-items: center; */
  gap: -20px;
  padding-top: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-exp > div{
  height: 1px;
  text-align: center;
  /* width: 100px; */
}

.exp{
  color: rgb(234, 224, 224);
  margin-top: 5px;
  margin-top: 7px;
}

.profile-year{
  font-size: 25px;
  font-weight: 700;
}

.exp-box{
  width: 100%;
}

.rating-box{
  width: 100%;
}

.rating-star{
  height: 30px;
}

.rating-star > div{
  width: 100%;
}

.profile-image{
  width: 80%;
  height: 300px;
  /* border: 1px solid black; */
  padding-top: 30px;
}

.profile-image > img{
  width: 100%;
}


/* user's card */

.user-card{
  background-color: #F1F1F1;
  padding: 20px;
}

.profile-card{
  /* background-color: grey!important; */
  margin-top: 5%!important;
  display: flex;
  margin: auto auto;
  margin-bottom: 30px;
  width: 50%;
  gap: 5%;
  /* border: 1px solid black; */
  padding: 30px;
  box-shadow: 4px 3px 10px grey;
  background-color: white;
}

.profile-card-image{
  width: 30%;
  /* border: 1px solid black; */
}

.profile-card-image > img{
  width: 100%;
  padding-top: 40px;
}

.profile-card-data{
  /* border: 1px solid black; */
  width: 50%;
}

.profile-card-heading{
  font-size: 30px;
  font-weight: 600;
}

.profile-card-summary{
  color: grey;
}

.cv-btn{
  background-color: #BB2428;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-decoration: none;
}

.cv-btn:hover{
  height: 46px;
  width: 200px;
  border: 2px solid #BB2428;
  background-color: white;
  color: #BB2428;
  text-decoration: none;
}

.footer{
  position: relative;
  height: 100px;
  border: 1px solid rgb(214, 213, 213);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  float:inline-end;
  margin-top: 5%;
  background-color: white;
}

.footer-text{
  color: grey;
  text-align: center;
}